services:
  fdisk-with-caps:
    build: .
    image: fdisk-demo
    container_name: fdisk-with-caps
    user: appuser
    cap_drop:
      - ALL
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
      - DAC_READ_SEARCH
    devices:
      - /dev/sda:/dev/sda
    command: capsh --addamb=cap_sys_rawio,cap_sys_admin,cap_dac_read_search -- -c "fdisk -l /dev/sda"
    stdin_open: true
    tty: true
